@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: rgb(14, 27, 43);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.menu-toggle {
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(14, 27, 43);
  cursor: pointer;
}
.menu-toggle:hover{
    color: blueviolet;
}
.side-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgb(14, 27, 43);
  width: 250px;
  display: none;
  flex-direction: column;
  padding: 10px;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.side-menu a {
  padding: 15px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  font-size: 18px;
}

.side-menu a:hover {
  background: white;
  color: rgb(14, 27, 43);
  border-radius: 10px;
}
section{
    padding: 100px 200px;
    
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(14, 27, 43);
    background-image: linear-gradient(360deg, rgb(44, 88, 117) 0%, rgb(14, 27, 43) 60% );
}
.body{
    box-shadow: 0px 0px 20px 15px;
    border-radius: 20px;
    background-color: rgb(14, 27, 43);
    position: absolute;
    align-items: center;
    width: 80%;
    top: 120px;
    left: 110px;
    bottom: 60px;
}

.me{
    position: absolute;
    right: 20px;
    top: 50px;
    width: 300px;
    height: 300px;
    background: rgb(14, 27, 43);
    border-radius: 50%;
    overflow: hidden;
}
.me::before{
    content: "";
    position: absolute;
    inset: -10px 110px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.me:hover::before{
    inset: -20px 0px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.me::after{
    content: "";
    position: absolute;
    inset: 6px;
    background: rgb(14, 27, 43);
    border-radius: 50%;
    z-index: 1;
}
.image{
    position: absolute;
    right: 45px;
    top: 75px;
    width: 250px;
    height: 250px;
    border: 6px solid #070a1c;
    border-radius: 50%;
    z-index: 3;
    background-image: linear-gradient(360deg, rgb(14, 27, 43) 10%, #f0f0f0 100%);
    
}
.main h2{
    position: absolute;
    top: 75px;
    left: 100px;
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(11, 80, 126);
    font-size: 1.8em;
    
}
.main h3{
    color: white;
    font-size: 1.4em;
    position: absolute;
    top: 175px;
    left: 100px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: white;
    background-color: rgb(11, 80, 126);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    position: absolute;
    top: 275px;
    left: 100px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: rgb(9, 60, 94);
    transform: scale(1.1);
}
.main-btn1{
    color: white;
    background-color: rgb(11, 80, 126);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600px;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    position: absolute;
    top: 275px;
    left: 320px;
    transition: 0.7s ease;
}
.main-btn1:hover{
    background-color: rgb(9, 60, 94);
    transform: scale(1.1);
}
.social-icons a{
    color: white;
    font-size: 1.5em;
    position: relative;
    top: 365px;
    left: 110px;
    padding-right: 25px;
    filter: drop-shadow(1px 1px 10px rgb(27, 121, 184));
}
.title{
    display: flex;
    justify-content: center;
    color: rgb(11, 80, 126);
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 31%;
    box-shadow: 0 5px 25px rgb(27, 121, 184, 19%);
    border-radius: 10px;
    padding: 25px;
    margin: 7px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: rgb(11, 80, 126);
    font-size: 7em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: rgb(11, 80, 126);
    font-size: 1em;
    font-weight: 600;
    margin: 10px;
}
.info h2{
    color: rgb(11, 80, 126);
    font-weight: 600;
    margin: 10px;
}
.info p {
    color: rgb(11, 80, 126);
    font-weight: 550;
}
#services{
    background-color: rgb(14, 27, 43);

}
.projects{
    background-color: rgb(14, 27, 43);
}

.projects2{
    display: flex;
    flex-direction: column;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: white;
    border: 1px solid white;
    flex-direction: column;
    align-items: center;
    height: 245px;
    width: 300px;
    border-radius: 10px;
    margin: 15px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
    height: 150px;
    border-radius: 10px;

}
.project-info{
    padding: 5px;
}
.project-category{
    font-size: 1em;
    font-weight: 500;
    color: rgb(11, 80, 126);

}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    
}
.more-details{
    text-decoration: none;
    color: rgb(11, 80, 126);
}
.more-details:hover{
    color: blueviolet;
}
.footer{
    background-color: rgb(14, 27, 43);
    color: white;
    padding: 2em;
    display:flex;
    justify-content: space-between;    
}
.social-icons1 a{
    color: white;
    font-size: 1.5em;
    padding-right: 25px;
    filter: drop-shadow(1px 1px 10px rgb(27, 121, 184));

}
.footer-title{
    font-size: 1.3em;
    font-weight: 450;
}
.footer-title span{
    color: rgb(11, 80, 126);
    
}
@media (max-width:767px){
    .logo{font-size: 1.2em;
        position: relative;
        left: -10px;
        top: 2px;}
    header{padding: 12px 20px;
            width: 100%;}
    .navigation a{
        padding-left: 3px;
        font-size: 1em;
        position: relative;
        left: -2px;
        
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(14, 27, 43);
    background-image: linear-gradient(360deg, rgb(44, 88, 117) 0%, rgb(14, 27, 43) 60% );
}
    .body {
        box-shadow: 0px 0px 20px 15px;
        border-radius: 20px;
        background-color: rgb(14, 27, 43);
        position: sticky;
        min-width: 80%;
        height: 490px;
        top: 0px;
        margin: 40px;
        }
        .items{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .bottons{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        .texts{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
    .all{
        position: relative;
        top: -60px;
        left: 200px;
        background-color: rgb(14, 27, 43);
    }
    .image{
        width: 150px;
        height: 150px;
        position: absolute;
        left: -180px;
    }
.me {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 65px;
    left: -190px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

/* الدائرة المتحركة */
.me::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
    z-index: 1;
    border-radius: 50%;
}

.me:hover::before {
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}

/* الخلفية الداخلية */
.me::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgb(14, 27, 43);
    border-radius: 50%;
    z-index: 2;
}

/* الحركة */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

    

    .main h2{
        position: absolute;
        top: 180px;
        left: 20px;
        color: white;
        font-size: 1em;
        font-weight: 500;
        width: 165px;
}
    .main h2 span{
        display: inline-block;
        margin-top: 10px;
        color: rgb(11, 80, 126);
        font-size: 1.1em;
        position: relative;
        left: -5px;
    }
    .main h3{
        color: white;
        font-size: 0.6em;
        position: absolute;
        top: 235px;
        left: 4px;
        letter-spacing: 1px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 200px;
    }
    .main-btn{
        color: white;
        background-color: rgb(11, 80, 126);
        text-decoration: none;
        font-size: 0.9em;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        position: absolute;
        top: 290px;
        left: 10px;
        transition: 0.7s ease;
        width: 170px;
        text-align: center;
    }
    .main-btn1{
        color: white;
        background-color: rgb(11, 80, 126);
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 600;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 15px;
        margin-bottom: 40px;
        position: absolute;
        top: 355px;
        left: 10px;
        transition: 0.7s ease;
        width: 170px;
        text-align: center;
    }
    .main-btn:hover{
        background-color: rgb(9, 60, 94);
        transform: scale(1.1);
    }
    .main-btn1:hover{
        background-color: rgb(9, 60, 94);
        transform: scale(1.1);
    }
    .social-icons a{
        color: white;
        font-size: 1.2em;
        position: relative;
        top: 430px;
        left: 15px;
        padding-right: 25px;
    }
    .title{
        font-size: 3em;
        position: relative;
        left: 0px;
    }
    .card{
        width: 250px;
        height: 250px;
        position: relative;
        left: 0px;
        flex-direction: column;
    }
    .icon{
        font-size: 5em;
        position: relative;
        top: -20px;
    }
    .info h3{
        font-size: 1.1em;
        position: relative;
        align-items: center;
        text-align: center;
        top: -25px;
    }
    .info p{
        font-size: 1em;
        position: relative;
        top: -20px;
    }
    section{
        padding: 80px 20px;
    }
    .project-card{
        width: 250px;
    }
    #card1{
        position: relative;
        left: 0px;
    }
    #card2{
        position: relative;
        left: 0px;
        bottom: 10px;
    }
    #card3{
        position: relative;
        left: 0px;
        bottom: 0px;
    }
    #card4{
        position: relative;
        left: 0px;
        top: 0px;
    }
    #card6{
        position: relative;
        left: 0px;
        top: 0px;
    }
    #let{
        font-size: 2.5em;
        text-align: center;
    }
    .social-icons1 a{
        padding-right: 10px;
        font-size: 1.5em;
        flex-direction: column;
    }
}

